*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: white;
    padding-bottom: 15px;
}


.main{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    background-color: white;

}



h2{
    font-family: 'Monotype Corsiva', Arial, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    color: red;
}
.inputContainer{
    display: flex;
    background-color: white;
}

input{
    width: 355px;
    height: 60px;
    background: #000000;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    outline: none;
    border: none;
    font-family: 'Century Gothic', Arial, serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-left: 20px;
    margin-top: 25px;
    padding-right: 20px;
    z-index: 999;



}


.addBtn{
    width: 150px;
    height: 60px;
    background: #F3354C;
    border-radius: 20px;
    margin-left: 30px;
    border: none;
    margin-top: 25px;
    font-family: 'Lucida Sans Unicode', Arial, serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
    z-index: 999;

}
.addBtn:hover{
    transition: 1.5s;
    background: lightseagreen;
    border: 1px solid #F3354C;

}

textarea{
    display: flex;
    justify-content: space-around;
    width: 600px;
    min-height: 240px;
    background: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    border: none;
    color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    outline: none;
    resize: none;
    font-family: 'Century Gothic', Arial, serif;;
    border-radius: 20px;
    font-size: 16px;
}

textarea::placeholder {
    color: #fff;
}

.cenzorBtn{
    width: 180px;
    height: 65px;
    background: #F3354C;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: 'Lucida Sans Unicode', Arial, serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    transition: 0.5s;
    cursor: pointer;
}
.cenzorBtn:hover{
    transition: 1.5s;
    background: lightseagreen;
    border: 1px solid #F3354C;

}



.word {
    margin-right: 10px;
    margin-left: 10px;
}

.word::placeholder {
    color: #fff;
    opacity: 1;
}

.close{
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 999;
}


.listWord{
    font-family: 'Poppins', Arial, serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 955px) {
    textarea{
        width: 90%;
    }
    .addBtn{
        width: 130px;
        height: 50px;
        font-size: 16px;
    }
    input{
        width: 300px;
        height: 50px;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .cenzorBtn{
        width: 150px;
        height: 50px;
        font-size: 16px;

    }
    .main{
        padding-top: 20px;
    }

}

@media screen and (max-width: 800px) {
    .inputContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        align-items: center;
        position: relative;
        bottom: 30px;
    }
    .addBtn{
        margin-left: 0;
        margin-top: 10px;
    }

    h2{
        position: relative;
        bottom: 15px;
    }
    .main{
        padding-top: 20px;
    }


}